body {
    background-image: url('https://i.makeagif.com/media/6-19-2021/eXOZAk.gif');
    background-repeat:no-repeat;
    background-size:cover;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

.container {
    position: relative;
    width: 200px;
    height: 200px;
}

.ball {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(99, 52, 52, 0) 50%, rgba(255, 11, 11, 0.963) 70%, rgba(255, 0, 0, 0.716) 100%);
    box-shadow: 0px 0px 20px 0px rgba(255, 0, 0, 0.929);
    animation: pulse 1s infinite alternate ease-in-out;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0px 0px 200px 0px rgb(75, 4, 4); /* Increased brightness */
    }
    100% {
        transform: scale(1.1);
        box-shadow: 0px 0px 900px 0px rgb(248, 8, 8); /* Increased brightness */
    }
}

.welcome-message {
    color: white;
}
.welcome-message {
    color: white;
}

.jarvis-message {
    color: white;
}
.container {
    position: relative;
    text-align: center;
}

.welcome-message {
    color: white;
    margin-bottom: 20px; /* Add margin at the bottom to create space */
}

#userInput {
    margin-top: 20px; /* Adjust margin to create space below the welcome message */
}

